.layout {
  height: 530px;
  width: 750px;
  margin: 160px auto 0;
  box-shadow: 0 2px 10px -2px var(--shadow);
  border-radius: 5px;
  overflow-y: auto;
}

.layout__wrapper {
  display: flex;
}

.layout__aside {
  min-height: 530px;
  width: 200px;
  box-sizing: border-box;
  padding: 20px 20px 200px 20px;
  background-color: var(--aside);
}

.layout__newListForm {
  margin-top: 60px;
}

.layout__lists {
  min-height: 530px;
  width: 550px;
  box-sizing: border-box;
  background-color: var(--white);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
