.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.menu__radio {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.menu__item {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: all .2s ease-in-out;
}

.menu__radio:checked + .menu__item {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.menu__icon {
  position: absolute;
  left: 13px;
}

.menu__mark {
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.menu__label {
  margin-left: 25px;
}
