.task {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.task__input {
  margin-left: 35px;
}

.task__button {
  flex: 0 0 20px;
  visibility: hidden;
}

.task:hover .task__button {
  visibility: unset;
}
