.check {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: var(--16px);
  font-weight: var(--500);
}

.check__input {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.check__input:checked + .check__box {
  background: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.39644 7.84288L0.146441 4.35628C-0.0488135 4.14681 -0.0488135 3.80718 0.146441 3.59769L0.853531 2.8391C1.04879 2.62961 1.36539 2.62961 1.56064 2.8391L3.75 5.18782L8.43936 0.157101C8.63461 -0.0523671 8.95122 -0.0523671 9.14647 0.157101L9.85356 0.915689C10.0488 1.12516 10.0488 1.46479 9.85356 1.67428L4.10355 7.8429C3.90828 8.05237 3.5917 8.05237 3.39644 7.84288Z' fill='white'/%3E%3C/svg%3E%0A") 3px 4px no-repeat,
  var(--accent);
  border: 2px solid var(--accent);
}

.check__input:focus + .check__box {
  border: 2px solid var(--accent);
}

.check__input:disabled + .check__box {
  border: 2px solid var(--secondary);
}

.check__input:disabled:checked + .check__box {
  background: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.39644 7.84288L0.146441 4.35628C-0.0488135 4.14681 -0.0488135 3.80718 0.146441 3.59769L0.853531 2.8391C1.04879 2.62961 1.36539 2.62961 1.56064 2.8391L3.75 5.18782L8.43936 0.157101C8.63461 -0.0523671 8.95122 -0.0523671 9.14647 0.157101L9.85356 0.915689C10.0488 1.12516 10.0488 1.46479 9.85356 1.67428L4.10355 7.8429C3.90828 8.05237 3.5917 8.05237 3.39644 7.84288Z' fill='lightgrey'/%3E%3C/svg%3E%0A") 5px 6px no-repeat,
  var(--secondary);
}

.check__box {
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  border: 2px solid var(--input-placeholder);
  height: 20px;
  margin-left: -35px;
  border-radius: 50%;
}
