.button {
  width: 100%;
  appearance: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  font-size: var(--14px);
  font-family: var(--ff);
  transition: all 0.1s ease-in-out;
  white-space: nowrap;
}

.button:hover:not[disabled],
.button:active:not[disabled],
.button:focus-visible:not[disabled] {
  filter: brightness(.9);
}

.button:active:not[disabled] {
  transform: scale(0.9);
}

.button:focus {
  outline: none;
}

.button:disabled {
  cursor: not-allowed;
  filter: grayscale(80%);
}

.button_type_accent {
  background-color: var(--accent);
  color: var(--text-accent);
}

.button_type_secondary {
  background-color: var(--secondary);
  color: var(--text-secondary);
}
.button_type_air {
  color: var(--text-secondary);
  background-color: inherit;
  padding: 0;
}