.newListForm {
  position: relative;
}

.newListForm__button {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 5px 10px 10px;
  gap: 10px;
  font-size: var(--16px);
}

.newListForm__box {
  width: 235px;
  box-sizing: border-box;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.newListForm__cross {
  position: absolute;
  top: -5px;
  right: -5px;
}
