:root {
  --accent: rgba(77, 213, 153, 1);
  --accent-hover: rgba(73, 182, 134, 1);
  --secondary: rgba(244, 246, 248, 1);
  --secondary-hover: rgba(222, 222, 224, 1);
  --text-accent: rgba(255, 255, 255, 1);
  --text-secondary: rgba(156, 156, 156, 1);
  --text-secondary-hover: rgba(156, 156, 156, 1);
  --14px: 14px;
  --input-border: rgba(239, 239, 239, 1);
  --input-border-hover: rgba(189, 189, 189, 1);
  --input-placeholder: rgba(199, 199, 199, 1);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 50px;
}