.layout {
  max-width: 746px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  height: 100%;
}

.layout__aside {
  width: 200px;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--aside);
}

.layout__newListForm {
  margin-top: 60px;
}

.layout__lists {
  background-color: var(--white);
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.layout__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
