.layout {
  max-width: 746px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  height: 100vh;
}

.layout__aside {
  width: 200px;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--aside);
}

.layout__newListForm {
  margin-top: 60px;
}

.layout__content {
  background-color: var(--white);
}
